/* body {
    color: red;
}

h1 {
    color: blue;
}

#lib-header {
    color: blueviolet;
}

.para {
    color: green;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 400px;
    margin: auto;
}
