/* body {
    color: red;
}

h1 {
    color: blue;
}

#lib-header {
    color: blueviolet;
}

.para {
    color: green;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}