/* body {
    color: red;
}

h1 {
    color: blue;
}

#lib-header {
    color: blueviolet;
}

.para {
    color: green;
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --primary-color : #2563EB;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

hr {
    margin: 2rem 0rem;
}
/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 400px;
    margin: auto;
}
/** links **/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary 
{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid  var(--primary-color);
}
